<!doctype html>
<html class="no-js fixed-layout">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{$dataindex.title} | 后台管理</title>
		<meta name="description" content="这是一个 index 页面">
		<meta name="keywords" content="index">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="icon" type="image/png" href="{$dataindex.img_title}">
		<link rel="apple-touch-icon-precomposed" href="{$dataindex.img_title}">
		<meta name="apple-mobile-web-app-title" content="Amaze UI" />
		<link rel="stylesheet" href="__PUBLIC__/AmazeUI/css/amazeui.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/AmazeUI/css/admin.css">
		<block name="head"></block>
	</head>

	<body>
		<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->
		<include file="Public/header" />
		<div class="am-cf admin-main">
			<!-- sidebar start -->
			<include file="Public/left" />
			<!-- sidebar end -->
			<!-- content start -->
			<div class="admin-content">
				<block name="main"></block>
				<include file="Public/footer" />
			</div>
			<!-- content end -->
		</div>
		<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>
		<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
		<!--[if (gte IE 9)|!(IE)]><!-->
		<script src="__PUBLIC__/AmazeUI/js/jquery.min.js"></script>
		<!--<![endif]-->
		<script src="__PUBLIC__/AmazeUI/js/amazeui.min.js"></script>
		<script src="__PUBLIC__/AmazeUI/js/app.js"></script>
	</body>

</html>
<script>
	$(function() {
		$('#doc-form-file').on('change', function() {
			var fileNames = '';
			$.each(this.files, function() {
				fileNames += '<span class="am-badge">' + this.name + '</span><br><br>';
			});
			$('#file-list').html(fileNames);
		});
		$('#doc-form-file2').on('change', function() {
			var fileNames = '';
			$.each(this.files, function() {
				fileNames += '<span class="am-badge">' + this.name + '</span><br><br>';
			});
			$('#file-list2').html(fileNames);
		});
	});
		//实现通过复选框全选
		$(document).ready(function() {
			$("#checkedAll").click(function() {
				if($(this).prop("checked")) { // 全选 
					$("input[name='blog_id']").each(function() {
						$(this).prop("checked", true);
					});
				} else { // 取消全选 
					$("input[name='blog_id']").each(function() {
						$(this).prop("checked", false);
					});
				}
			});
		});
</script>