<extend name="Public:base" />
<block name="main">
<div class="admin-content-body">
	<div class="am-cf am-padding am-padding-bottom-0">
		<div class="am-fl am-cf">
			<strong class="am-text-primary am-text-lg">编辑扩展模块</strong> / <small>Edit Module</small>
		</div>
	</div>
	<hr>
<div class="am-g">
			<div class="am-u-sm-12">
				<form action="{:U('Module/saveModule')}" method="post" class="am-form">
					<div class="am-form-group">
						<label for="title">中文名称</label> <input type="text" class="" id="title" name="nameZh" value="{$dataModule.namezh}">
					</div>
					<div class="am-form-group">
						<label for="title">英文名称</label> <input type="text" class="" id="title" name="nameEn" value="{$dataModule.nameen}">
					</div>
					<div class="am-form-group">
						<label>显示状态</label> &nbsp;&nbsp; <label class="am-radio-inline"><input type="radio" name="show" value="1" data-am-ucheck <if condition="$dataModule.show eq 1">checked="checked"</if>> 显示</label> <label class="am-radio-inline"><input type="radio" name="show" value="0" data-am-ucheck <if condition="$dataModule.show eq 0">checked="checked"</if>> 隐藏</label>
					</div>
					<div class="am-form-group">
						<label>首页显示</label> &nbsp;&nbsp; <label class="am-radio-inline"><input type="radio" name="index" value="1" data-am-ucheck <if condition="$dataModule.index eq 1">checked="checked"</if>> 是</label> <label  class="am-radio-inline"><input type="radio" name="index" value="0" <if condition="$dataModule.index eq 0">checked="checked"</if> data-am-ucheck> 否</label>
					</div>
					<div class="am-form-group">
						<label class="am-text-warning">注意：首页显示数量最多2个</label>
					</div>
					<input type="hidden" name="id" id="id" value="{$dataModule.id}" />
					<input type="submit" class="am-btn am-btn-primary am-btn-block" value="提交"></input>
				</form>
			</div>

		</div>
	
</div>
</block>